footer
  .container.text-center
    p(align='center') © 2017 Indiocoin. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/carsenk/indiocoinnodewallet', target='_blank') GitHub Project
      li
        a(href='https://indiocoin.io', target='_blank') Indiocoin.io
