extends layout

block content
  .page-header
    h1 Indiocoin Wallet
  p.lead A NodeJS/MongoDB powered Indiocoin Web Wallet. Send and Receive INI from anywhere!
  hr
  .row
    .col-sm-6
      h2 Fast & Secure
      p This online wallet is powered upon NodeJS/MongoDB running in conjunction with a Indiocoin Full Node, allowing access to the speeds and power of the Indiocoin blockchain.
      p
        if user
        else
          a.btn.btn-default(href='/signup', role='button') Sign Up! »
    .col-sm-6
      h2 What is Indiocoin?
      p Indiocoin is a cryptocurrency built upon the original Bitcoin Core Satoshi Nakamoto codebase. It features a new Proof-Of-Work hashing algorithm called "Tribus" and also features Proof-Of-Stake at 6% per year.
      p
        a.btn.btn-default(href='https://github.com/carsenk/indiocoin', target='_blank', role='button') View Github »
